<div class="row" style="margin-bottom: 3px">
    <div class="col-sm-auto">
        <img src="{{ user.avatar(36) }}" alt="" style="margin-top: auto; margin-bottom: auto;">
    </div>
    <div class="col" style="margin-top: auto; margin-bottom: auto;">
        {{ post.author.username }} says: <b>{{ post.body }}</b>
    </div>
</div>